<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
    </script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefonica</title>

    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <style>
        .title {
            width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }

        .table {
            width: 400px;
            text-align: left;
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 5px;
        }

        .selecionado{
            background-color: yellow;
        }

        .negrito{
            font-weight: bold;
        }
    </style>
    <script src="lib/angular/angular.js"></script>

    <script>
        angular.module('listaTelefonica', []);
        angular.module('listaTelefonica').controller('listaTelefonicaCtrl', function ($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                { nome: "Edvaldo", telefone: "9989898989" },
                { nome: "Luan", telefone: "4578946158794" },
                { nome: "Santana", telefone: "7849765151447" }
            ];
            $scope.operadoras = [
                { nome: "Oi", codigo: "14", categoria: "Celular"},
                { nome: "Vivo", codigo: "15", categoria: "Celular"},
                { nome: "Time", codigo: "41", categoria: "Celular"},
                { nome: "GVT", codigo: "25", categoria: "Fixo"},
                { nome: "Embratel", codigo: "21", categoria: "Fixo"},

            ];
            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                 delete $scope.contato;
            }

        });
    </script>
</head> 

<body ng-controller="listaTelefonicaCtrl">
    <div class="title">
        <h3 ng-bind="app"></h3>
        <h3>{{'New ' + app + ' Funcional'}}</h3>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-class="{selecionado: contato.selecionado === true, negrito: contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>
                    {{contato.nome}}
                </td>
                <td>
                    {{contato.telefone}}
                </td>
                <td>
                    {{contato.operadora.nome}}
                </td>
            </tr>
            <hr>

        </table>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma Operadora</option>"
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>

    </div>

</body>

</html>